body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.component {
  padding-top: 85px;
}
#cart-list {
  list-style: none;
  font-size: 0.8rem;
}

.profileLink {
  text-decoration: none;
  color: gray;
}

.icon {
  width: 35px !important;
  height: 35px !important;
}

.noMatchImg {
  width: 400px;
  height: 400px;
}
/* form div {
  margin: 1em;
  display: inline-block;
} */
