body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.component {
  padding-top: 85px;
}
#cart-list {
  list-style: none;
  font-size: 0.8rem;
}

.profileLink {
  text-decoration: none;
  color: gray;
}

#home-img-container {
  position: relative;
  text-align: center;
}
.img-text {
  position: absolute;
  top: 0px;
  left: 16px;
}
.avatar {
  height: 100;
  width: 60;
}

.icon {
  width: 35px !important;
  height: 35px !important;
}

.noMatchImg {
  width: 400px;
  height: 400px;
}
/* form div {
  margin: 1em;
  display: inline-block;
} */
